* {
    font-family: Poppins;
    color: rgb(17, 17, 17);
}

.content {
    display: grid;
    height: 91.8vh;
}

.btn-hover:hover {
    background-color: rgb(82, 87, 90);
}

.select-hover:hover {
    background-color: rgb(82, 87, 90);
}

.select-hover:hover option {
    background-color: rgb(17, 17, 17);;
}

.table {
    width: 100%;
    border-collapse: collapse;    
}

.table thead {
    background-color: rgb(17, 17, 17);
}

.table th {
    text-align: left;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.table tbody tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

.table tbody tr:hover {
    background-color: rgb(202, 204, 207);
}

.table td {
    max-width: 1000px;
    padding: 10px;
}

.capital {
    text-transform: capitalize;
}

.capital-first::first-letter {
    text-transform: capitalize;
}

.upper {
    text-transform: uppercase;
}