.content-home h1 {
    font-size: 5em;
    font-weight: 500;
    margin: 0;
}

.content-home h2 {
    font-size: 2em;
    font-weight: 100;
    margin: 0;
}

.content-home div {
    display: flex;
    box-sizing: border-box;
}

.content-home .title-container {
    flex-direction: column-reverse;
    flex-grow: 2;
}

.content-home .sub-title-container {
    flex-direction: column;
    flex-grow: 1;
}

.content-home .btn-container {
    flex-direction: column;
    flex-grow: 5;
}

.btn {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    text-decoration: none;
    padding: 25px;
    border-radius: 50px;
}